@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body{
    background-color: lightgray;
    font-family: 'Mynerve', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

br {
    line-height: 30px;
}

.i {
    background-color: transparent;
}

.rules {
    background-color: lightgray;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20
    
    px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

.game-area {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    font-family: 'Mynerve', sans-serif;
    font-size: 100%;
    text-transform: uppercase;
    background-color: white;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.controls button>i {
    font-size: 300%;
    vertical-align: middle;
}

button:hover {
    transform: scale(1.2);
}

.result {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-bottom: 15px;
    margin-top: 0;
}

.result-heading {
    margin-top: 50px;
    margin-bottom: 0;
}

.player {
    margin-left: 0;
    margin-top: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.computer {
    margin-right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerchoice {
    width: 75px;
    height: 75px;
    font-family: 'Mynerve', sans-serif;
    font-size: 300%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.computerchoice {
    width: 75px;
    height: 75px;
    font-family: 'Mynerve', sans-serif;
    font-size: 300%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.result i {
    vertical-align: middle;
}

.win {
    font-size: 300%;
    font-family: 'Mynerve', sans-serif;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
}

.lose {
    font-size: 300%;
    font-family: 'Mynerve', sans-serif;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
}

.tie {
    font-size: 300%;
    font-family: 'Mynerve', sans-serif;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
}



.score-area {
    background-color: lightgray;
    display: flex;
    vertical-align: middle;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.user-score {
    margin-left: 0;
    width: 50%;
}

.computer-score {
    margin-right: 0;
    width: 50%;
}

#score, #computer-score {
    font-size: 150%;
}

footer {
    height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

@media (max-width: 1280px) {
    h1 {
        margin-top: 30px;
    }
    
    h2 {
        font-size: 1em;
    }

    .rules {
        margin-top: 20px;
    }

    .result {
        margin-bottom: 10px;
    }

    .result-heading {
        margin-top: 15px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 2em;
        margin-top: 50px;
    }

    h2 {
        font-size: 1.5em;
    }

    .rules {
        width: 75%;
        margin-top: 50px;
    }

    .game-area {
        width: 75%;
    }

    .score-area {
        width: 75%;
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5em;
        margin-top: 10px;
    }

    h2 {
        font-size: 0.85em;
    }

    p {
        font-size: 80%;
    }

    .rules {
        width: 99%;
        height: 150px;
        margin-top: 20px;
    }

    .game-area {
        width: 99%;
        height: 260px;
        margin-top: 10px;
    }

    .result-heading {
        margin-top: 20px;
    }

    .result {
        margin-bottom: 10px;
        height: 100px;
    }

    button {
        font-size: 80%;
        color: black;
        height: 55px;
        width: 95px;
    }

    .controls button>i {
        font-size: 200%;
    }

    .playerchoice, .computerchoice {
        height: 50px;
        font-size: 200%;
    }

    .computer-hand, .player-hand {
        display: inline-block;
        vertical-align: middle;
    }

    .score-area {
        width: 99%;
        height: 55px;
        margin-top: 10px;
    }

    .user-score, .computer-score {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        justify-content: center;
    }

    footer {
        position: absolute;
        margin-top: 20px;
    }

}