body{
    background-color: lightgray;
    font-family: 'Mynerve', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

br {
    line-height: 30px;
}

.rules {
    background-color: lightgray;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

.game-area {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    font-size: 300%;
    font-weight: 50%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    transform: scale(1.2);
}

.result {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-bottom: 15px;
}

.player {
    margin-left: 0;
    width: 50%;
}

.computer {
    margin-right: 0;
    width: 50%;
}

.playerchoice {
    margin-left: 0;
    width: 100%;
    font-size: 200%;
    font-weight: 50%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.computerchoice {
    margin-right: 0;
    width: 100%;
    font-size: 200%;
    font-weight: 50%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.win {
    font-size: 200%;
    font-weight: 50%;
    background-color: green;
    border: 2px solid black;
    border-radius: 5px;
}

.lose {
    font-size: 200%;
    font-weight: 50%;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
}

.tie {
    font-size: 200%;
    font-weight: 50%;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
}



.score-area {
    background-color: lightgray;
    display: flex;
    vertical-align: middle;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.user-score {
    margin-left: 0;
    width: 50%;
}

.computer-score {
    margin-right: 0;
    width: 50%;
}

footer {
    height: 30px;
    width: 100%;
    bottom: 0;
    position: fixed;
}